<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!--https://stackoverflow.com/questions/46510836/http-error-404-13-asp-net-core-2-0-->
				<!-- This will handle requests up to 700MB (CD700) -->
				<requestLimits maxAllowedContentLength="737280000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>